@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

input {
    border: none;
}

button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus+::input-placeholder {
    color: #fff;
}

.highlight {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
}

.highlight:hover {
    color: #fff;
    transition: color .2s ease;
}

.spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.full-width {
    width: 100%;
}

.input-fields {
    margin-top: 25px;
}
.ClassRooms{
    border: solid white 1px;
    border-radius: 10px;
    background: #ffffff40;
}
.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.content {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 5;
}
.welcome {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}
.subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
}
.menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
}
.window {
    z-index: 100;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
}
.overlay {
    background: -webkit-linear-gradient(#8CA6DB, #B993D6);
    background: linear-gradient(#8CA6DB, #B993D6);
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
}

.bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity: 0.1;
    background-size: cover;
}

@media (max-width: 500px) {
    .window {
        width: 100%;
        height: 100%;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
}

.form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #00d8a6;
    padding: 30%;
}
.form-container form {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.form-container form h4 {
    margin: 0 0 25px 0;
    padding: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.form-container form .form-body {
    padding: 0 25px;
    margin-bottom: 20px;
}
.form-container form .form-body .add-btn {
    background-color: #085694;
    border: 0;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
}
.form-container form .form-body .class-rooms {
    background: #eee;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.form-container form .form-body .class-rooms__room {
    font-size: 14px;
    background: #ddd;
    margin: 10px;
    padding: 15px;
}
.form-container form .form-body .class-rooms__room input {
    height: 25px;
}
.form-container form .form-body .class-rooms__room .delete-btn {
    background-color: #f44336;
    border: 0;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
}
.form-container form .form-body .class-rooms__room--subjects .subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-container form .form-body .class-rooms__room--subjects .subject .form-control {
    max-width: 150px;
}
.form-container form .form-control {
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}
.form-container form .form-control input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-indent: 10px;
}
.form-container form .form-control .form-message {
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    top: 2px;
    transform: translateX(10px);
}
.form-container form .form-control .form-message--error {
    color: #f44336;
}
.form-container form .form-control .form-message--success {
    color: #4caf50;
}
.form-container form .form-control--loading::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 35px;
    width: 12px;
    height: 12px;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: 0.5s linear infinite spin;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
   }
}
