<p>date works!</p>
<br> <br> <span>{{date}}</span>
<br> <br> <span> short - {{date | date :'short'}}</span>
<br> <br> <span> medium - {{date | date :'medium'}}</span>
<br> <br> <span> long - {{date | date :'long'}}</span>
<br> <br> <span> full - {{date | date :'full'}}</span>
<br> <br> <span style="direction: rtl; float: right;">  {{date | date : 'short':'+2' :'ar-EG'}}</span>
<br> <br> <span> d-/MMMM-yyyy-EEEE-a-hh-m-s-z -----: {{date | date :'d-MMMM-yyyy-EEEE-a-hh-m-s-z'}}</span>
<hr>
promis 
<p>get Promis Data >> {{promisData}}</p>
<p>get Promis async >> {{PromisAsync|async}}</p>

<hr> 
observable

{{observableData}}